body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 893px;
    flex-direction: column;
    background-color: aqua;
}

.calculator-container {
    height: 490px;
    width: 350px;
    box-shadow: 12px 14px 23px -9px rgba(0, 0, 0, 0.95);
    background-color: black;
    border-radius: 9px;
    display: flex;
    flex-direction: column;

}

.calculator-container-header {
    background-color: rgb(0, 0, 0);
    width: 350px;
    height: 35px;
    border-radius: 9px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap:105px;
    
}
img{
    color:white ;
    height: 20px;
    width: 20px;
    padding-left: 5px;
}
.app-name{
    color:white ;
    font-size: 14px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 500;
}
.close-btn{
    height: 18px;
    width: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: ;
}    
.cls-btn{
    height: 27px;
    width: 27px;
    margin-right: 5px;
    border-radius: 50%;
}

.calculator-container-top {
    height: 105px;
    width: 340px;
    background-color: rgb(0, 0, 0);
    border-radius: 5px;
    align-self: center;
    display: flex;



}


.input-field{
    height: 95px;
    width: 340px;
    border-radius: 5px;
    background-color: rgb(0, 0, 0);
    border: none;
    padding: 0;
    margin: 0;
    outline: none;
    caret-color: rgb(255, 255, 255); 
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; 
    color: azure;
}



.calculator-container-bottom {
    height: 345px;
    width: 340px;
    background-color: rgb(51, 58, 58);
    border-radius: 9px;
    align-self: center;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    /* gap: 10px; */
    

}

.section{
    background-color: rgb(51, 58, 58);
    width: 75px;
    height: 330px;
    display: flex;
    flex-direction: column;
    gap: 5px;
    align-items: center;
}



.btn {
    height: 80px;
    width: 80px;
    border-radius: 10px;
    background-color: rgb(44, 47, 61);
}

.btn-1 {
    height: 80px;
    width: 80px;
    border-radius: 10px;
    background-color: rgb(57, 60, 73);
}

